.home {
	width: 55%;
}

.signup,
.login {
	width: 100%;
	padding: 1rem;
	border-radius: 10px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 1.4rem;
	transition: 0.2s all;
}

.signup:link,
.signup:visited {
	margin-bottom: 1rem;
	background-color: var(--color-main);
	color: var(--color-bg);
}

.signup:hover {
	background-color: var(--color-light);
}

.login:link,
.login:visited {
	background-color: #fff;
	color: var(--color-font);
}

.login:hover{
	background-color: var(--color-dark);
	color: var(--color-bg);
}
