.uid {
	color: var(--color-dark);
	font-size: .8rem;
}

.info {
	margin-bottom: 0.5rem;
	font-weight: bold;
	font-size: 2rem;
}

.profile {
	width: 70%;
	height: 300px;
	padding: 0 3rem;
	text-align: center;
}

.top {
	width: 100%;
	margin-bottom: 4rem;
}

.list {
	list-style: none;
	font-size: 1.4rem;
}

.listItem:not(:last-child) {
	margin-bottom: 1rem;
}

.listItem a:link,
.listItem a:visited {
	text-decoration: none;
	color: var(--color-bg);
	padding: 1rem;
	border-radius: 10px;
	background-color: var(--color-main);
	width: 100%;
	display: block;
	transition: all 0.2s;
}

.listItem a:hover {
	background-color: var(--color-light);
}
