.cards {
	width: 100%;
	height: 100%;
	overflow: auto;
}

.card {
	border-bottom: 2px solid var(--color-main);
	padding: 1rem 3rem;
	cursor: pointer;
	font-size: 1.6rem;
	transition: 0.2s all;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.text {
	width: 90%;
	overflow: hidden;
	margin-right: 2rem;
}

.card:hover {
	background-color: var(--color-main);
	color: var(--color-bg);
}

.card:first-of-type {
	border-top: 2px solid var(--color-main);
}

.buttons {
	width: 10%;
	display: flex;
	gap: 1rem;
}

.button {
	padding: 0.6rem;
	border: none;
	color: var(--color-font);
	background-color: var(--color-bg);
	border-radius: 10px;
	cursor: pointer;
	transition: 0.2s all;
}

.button:hover {
	background-color: var(--color-light);
	color: var(--color-bg);
}

