.navigation {
	background-color: var(--color-font);
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2rem 5rem;
	transform: translateY(50px);
}

.navlist {
	display: flex;
	list-style: none;
	justify-content: center;
	align-items: center;
	gap: 3.6rem;
}

.navlist li a:link,
.navlist li a:visited {
	text-align: center;
	text-decoration: none;
	color: var(--color-bg);
	font-size: 1.6rem;
	width: 100px;
	transform: translateY(-60px);
	display: inline-block;
	background-color: var(--color-main);
	border-radius: 10px;
	padding: 1rem;
	transition: all 0.2s;
}

.navlist li a:hover {
	background-color: var(--color-light);
	transform: translateY(-70px);
}

@media (max-width: 35em) {
	.navigation {
		padding: 1.6rem 1rem;
	}

	.navlist {
		gap: 1rem;
	}

	.navlist li a:link,
	.navlist li a:visited {
		width: 80px;
		font-size: 1rem;
		transform: translateY(-40px);
	}
}
