.header {
	width: 100%;
	background-color: var(--color-font);
	color: var(--color-bg);
	padding: 2rem;
	margin: auto;
	height: 5rem;
	position: relative;
	font-size: 2rem;
	z-index: 9995;
}

.headeritems {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.name:link,
.name:visited {
	color: var(--color-bg);
	text-decoration: none;
	font-size: 1.6rem;
	letter-spacing: 1px;
	z-index: 9996;
	font-style: italic;
	font-weight: lighter;
}

.name span {
	font-weight: normal;
	font-size: 2.4rem;
}

.logout:link,
.logout:visited {
	color: var(--color-bg);
	text-decoration: none;
	font-size: 1.2rem;
	letter-spacing: 1px;
	padding: 0.5rem 1rem;
	border-radius: 10px;
	border: 2px solid var(--color-bg);
	transition: all 0.2s;
}

.logout:hover {
	background-color: var(--color-bg);
	color: var(--color-main);
}
