.header {
	width: 100%;
	background-color: #6741d9;
	color: #f1f3f5;
	padding: 2rem;
	margin: auto;
	height: 5rem;
	position: relative;
	font-size: 2rem;
	z-index: 9995;
}

.headeritems {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.backdrop {
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.85);
	position: absolute;
	top: 0;
	right: 0;
	transition: 0.2s ease-out;
	opacity: 0;
	visibility: hidden;
	z-index: 9997;
}

.backdropvisible {
	opacity: 1;
	visibility: visible;
}

.name:link,
.name:visited {
	color: #f1f3f5;
	text-decoration: none;
	font-size: 1.6rem;
	letter-spacing: 1px;
	z-index: 9996;
	font-style: italic;
	font-weight: lighter;
}

.name span {
	font-weight: normal;
	font-size: 2.4rem;
}

.icon {
	z-index: 9999;
	transition: 0.3s;
	cursor: pointer;
}

.menu {
	background-color: #6741d9;
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 100vh;
	display: flex;
	padding: 2rem 0;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	transition: 0.4s ease-out;
	z-index: 9998;
}

.navlist {
	list-style: none;
	width: 100%;
}

.navlist li:not(:last-child) {
	margin-bottom: 2.4rem;
}

.navlist li a:link,
.navlist li a:visited {
	text-decoration: none;
	color: #f1f3f5;
}

.visible {
	width: 200px;
	padding: 2rem;
}

.copy {
	font-size: 1rem;
	color: #845ef7;
}

.logout:link,
.logout:visited {
	color: #f1f3f5;
	text-decoration: none;
	font-size: 1.2rem;
	letter-spacing: 1px;
	padding: .5rem 1rem;
	border-radius: 10px;
	border: 2px solid #f1f3f5;
	transition:  all 0.2s;
}

.logout:hover {
	background-color: #f1f3f5;
	color: #6741d9;
}