.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	margin: auto;
	font-family: inherit;
	font-size: 1.2rem;
}

.formcontainer {
	width: 90%;
	border-radius: 6px;
	padding: 4rem;
	background-color: #fff;
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

.label {
	margin-bottom: 0.5rem;
}

.input {
	width: 100%;
	padding: 1rem;
	border-radius: 6px;
	border: 3px solid transparent;
	outline: none;
	margin-bottom: 2rem;
	font-size: inherit;
	background-color: var(--color-bg);
	transition: 0.2s all;
}

.input:focus {
	border-bottom: 3px solid var(--color-light);
}

.input:focus:invalid {
	border-bottom: 3px solid var(--color-error);
}

.button {
	width: 100%;
	padding: 1rem;
	margin-bottom: 2rem;
	border-radius: 6px;
	border: none;
	background-color: var(--color-main);
	color: var(--color-bg);
	font-size: inherit;
	font-weight: bold;
	letter-spacing: 1px;
	cursor: pointer;
	transition: background-color 0.2s;
}

.button:hover {
	background-color: var(--color-light);
}

.text {
	text-align: center;
	font-size: 1rem;
	color: var(--color-dark);
}

.link:link,
.link:visited {
	text-decoration: none;
	color: var(--color-light);
	font-weight: bold;
	transition: color 0.2s;
}

.link:hover,
.link:active {
	color: var(--color-main);
}

.error {
	text-align: center;
	font-weight: bold;
	color: var(--color-error);
	width: 100%;
	margin-bottom: 2rem;
}
